*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
header{
	background-image: url('../img/top-bg.jpg');
	min-height: 644px;
	background-repeat: repeat-x;
	background-position: center;
	position: relative;
	font-family: "BebasRegular";
}
header a{
	color: #fff;
}

.top_line{
	min-height: 97px;
	box-shadow: rgba(255,255,255,.3) 0 0 0 1px;
	width: 100%;
	background-color: rgba(0,0,0, .6);
	padding: 5px 0;
}
.top_line a{
	font-size: 21px;
	border-bottom: #fff dashed 1px;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.top_line a:hover{
	border-bottom: transparent 1px dashed;
}
.top_addr{
	padding-left: 50px;
	background-image: url('../img/top_map.png');
	background-repeat: no-repeat;
	background-position: top left;
	line-height: 26px;
}
.top_addr strong{
	display:block;
	color:#d12f22;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 33px;
	font-family: "BebasBold";
}
.top_line .logo{
	border-bottom: none;
	position:absolute;
	margin-top:-5px;
}
.top_line .logo:hover{
	border-bottom: none;
}
.logo-wrap{
	position:relative;
	width:240px;
	margin:auto;
}
.ta_right{
	background-image: none;
	padding-left: 0;
	text-align: right;
}
.ta_right span{
	color:#fff;
}
header h1{
	text-align: center;
	color: #fff;
	margin-top: 65px;
	font-size: 40px;
text-shadow: 0 3px rgba(0,0,0, .55);
font-family: "BebasRegular";
}
.button{
	background-color: #d12f22;
	display:inline-block;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
	font-size: 20px;
	padding: 0 25px;
	border-bottom: #AC160A 3px solid;
	color:#fff;
	font-family: "BebasBold";
}
.button:hover{
	background-color: #e64437;
}
.button:active{
	background-color: #b81609;
}
header .button{
	margin-right: 20px;
}
.st_button{
	line-height: 18px;
	padding-left: 65px;
	padding-top: 7px;
	text-align: left;
	background-image: url('../img/camera-icon.png');
	background-position: 8px 8px;
	background-repeat: no-repeat;
	}
	.buttons_top{
		bottom: 31px;
		position: absolute;
		width: 100%;
	}
	.top_menu{
		font-family: "BebasRegular";
		text-transform: uppercase;
		height: 62px;
		background-color: #242424;
		box-shadow: rgba(255,255,255, .3) 0 0 0 1px;
	}
	.top_menu ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	.top_menu a {
		color:#fff;
		font-size: 20px;
		padding:0 26px 0 54px;
		display: block;
		line-height: 62px;
		border-left: #383838 1px solid;
		background-image: url('../img/sprite.png');
		background-repeat: no-repeat;
		background-position: 20px 17px;
	}
	.top_menu li:nth-child(1) a{
background-position: 20px 17px;
	}
	.top_menu li:nth-child(2) a{
background-position: -125px 17px;
	}
	.top_menu li:nth-child(3) a{
background-position: -242px 17px;
	}
	.top_menu li:nth-child(4) a{
background-position: -367px 17px;
	}
	.top_menu li:nth-child(5) a{
background-position: -555px 17px;
	}
	.top_menu li:nth-child(6) a{
background-position: -715px 17px;
	}
	.top_menu li{
		float:left;
	}
	.top_menu li.active a,
	.top_menu li:hover a{
		background-color: #050505;
	}
	.waranty{
		float: right;
		cursor: default;
		color:#fff;
		font-size: 16px;
		border: 3px solid #fff;
		border-radius: 3px;
		padding: 3px 5px;
		line-height: 18px;
		margin-top:6px;
	}
	.waranty p{
		display: inline-block;
		margin: 0;
	}
	.w_left{
		font-family: "BebasBold";
		font-size: 20px;
		vertical-align: bottom;
		padding-right: 5px;
	}
	.w_left span{
		font-size: 34px;
		font-family: "BebasBold";
		padding-right: 5px;
	}
	.w_right{
		vertical-align: top;
	}

/*------------------------*/
section h2{
	position:relative;
}
	.main_carts{
		background-color:#191919;
		padding: 20px 0 40px;
	}
	.main_carts h2,
	h2.art-header{
		text-transform: uppercase;
		color:#c9c9c9;
		font-family: "BebasRegular";
		font-size: 40px;
		text-align: center;
	}
	.main_carts h2 strong{
		color:#ffffff;
	}
	.main_carts h2 span{
		color:#d12f22;
	}
	.s_black h2::before{
		content:"";
		position: absolute;
		top:17px;
		margin-left: -60px;
		width:50px;
		height: 20px;
		background-image: url('../img/p.png');
	}
	.s_black h2::after{
		content:"";
		position: absolute;
		top:17px;
		margin-left:10px;
		width:50px;
		height: 20px;
		background-image: url('../img/p-right.png');
	}
	.mc-wrap{
		text-align: center;
		padding: 0;
		position: relative;
	}
	.mc-item{
		border: #353535 1px solid;
		border-radius:  2px;
	}
	.mc-item h4{
		font-size: 20px;
		font-weight: normal;
		font-family: "BebasBold";
		margin-top: 5px;
		margin-bottom: 7px;

	}
	.mc-item a:hover h4,
	.mc-item-wrap.active h4{
		text-decoration: underline;
	}
	.mc-item-wrap.active,
	.mc-item-wrap:hover{
		background-color:#2A2A2A;
	}
	.mc-item-wrap{
		margin-left: 30px;
		width: 156px;
		display: inline-block;
		text-align: center;
	}
	.mc-item-wrap-af{
		content: "";
		width:22px;
		height:12px;
		background-image: url('../img/tr.png');
		position:absolute;
		margin:10px 69px;
		display:none;
	}
	.mc-item-wrap:first-child{
		margin-left: 0;
	}
	.mc-item-wrap a{
		color: #fff;
	}
	.mc-item span{
		display: block;
		height: 88px;
		width: 130px;
		background-image: url('../img/cats-iconset.png');
		margin: 15px auto 10px;

	}
	.mc-item-wrap:nth-child(1) span{
		background-position: 7px 0px;
	}
	.mc-item-wrap:nth-child(2) span{
		background-position: -150px 0px;
	}
	.mc-item-wrap:nth-child(3) span{
		background-position: -308px 0px;
	}
	.mc-item-wrap:nth-child(4) span{
		background-position: -465px 0px;
	}
	.mc-item-wrap:nth-child(5) span{
		background-position: -627px 0px;
	}
	.mc-item-wrap:nth-child(6) span{
		background-position: -785px 0px;
	}
	.mc-toggle{
		background-color: #212121;
		position: relative;
		height: 25px;
		cursor:pointer;
		background-image: url('../img/ok-icon.png');
		background-position: 72px 8px;
		background-repeat: no-repeat;
	}
	.mc-item-wrap.active .mc-toggle,
	.mc-item-wrap:hover .mc-toggle{
		background-color:#353535;
		background-position: -109px 8px;
	}
	.mc-item-wrap > ul{
		position: absolute;
		width:100%;
		list-style-type: none;
		margin: 0;
		padding: 15px 0;
		font-size: 20px;
		background-color: #353535;
		margin-top:20px;
		z-index: 10;
		display: none;
		left:0;
	}
	.mc-item-wrap.active > ul li{
		display:inline-block;
		font-family: "BebasRegular";
	}
	.mc-item-wrap.active > ul li a {
		padding:0 20px;
		text-decoration: underline;
	}

.mc-item-wrap.active > ul li a:hover {
text-decoration: none;
}
.mc-button-w{
	margin-top: 30px;
	text-align: center;
}
article.content{
	background-color: #E9E9E9;
}
article h2.art-header{
	color:#050505;
	margin-bottom: 10px;
}
article h2.art-header::before{
	content:"";
	position: absolute;
	top:51px;
	margin-left: -60px;
	width:50px;
	height: 20px;
	background-image: url('../img/left-line-icon.png');
}
article h2.art-header::after{
	content:"";
	position: absolute;
	top:51px;
	margin-left:10px;
	width:50px;
	height: 20px;
	background-image: url('../img/right-line-icon.png');
}
p.h-descr{
	max-width: 790px;
	text-align: center;
	margin:auto;
	margin-top: 0;
	color:#050505;

}
.home-items{
	background-color: #D6D6D6;
	padding: 40px 0;
	margin-top: 40px;
}
.hi-item{
	color:#050505;
	text-align: center;
	font-size: 14px;
	margin-bottom: 50px;
}
.hi-item img{
	max-width: 100%;
	border-top:#AC160A 8px solid;
}

.s-bottom img{
	max-width: 100%;
}
.s-bottom{
	padding-top: 32px;
}
.sb-header {
	line-height: 50px;
}
.sb-header h2{
	text-transform: uppercase;
	font-family: "BebasRegular";
	font-size: 36px;

	margin: 0;
}
.sb-content{
	margin-top: 30px;
}
.sb-header.button-cont{
	text-align: right;
}
footer{
	background-color:#2A2A2A;
	color: #fff;
	padding: 28px 0 35px;
	font-family: "BebasBold";
	font-size: 20px;
}
footer a{
	color:#fff;
	padding: 0 10px;
	text-decoration: underline;

}
footer a:hover{
	color:#fff;
	padding: 0 10px;
	text-decoration:none;

}
footer ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
footer li{
	float:left;
}
